#root {
  margin: 0 auto;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
}

@media (max-width: 830px) {
  #container {
    width: 70vw;
  }
}

@media (min-width: 831px) and (max-width: 1024px) {
  #container {
    width: 60vw;
  }
}

@media (min-width: 1025px) {
  #container {
    width: 50vw;
  }
}

#quote-box {
  /* border-radius: 5px; */
  padding: 40px 50px 30px 50px;
  border-radius: 13px;
  background-color: #fff;
}

#author {
  height: auto;
  text-align: right;
  font-size: 1em;
  padding-bottom: 20px;
  font-style: italic;
}

#quote-text {
  margin: 0;
  text-align: center;
  font-size: 1.75em;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

#quote-text>p {
  margin: 0;
}

.buttons {
  margin: auto;
  color: #fff;
}

#new-quote {
  float: right;
  color: inherit;
}

#tweet-quote {
  margin-right: 5px;
  float: left;
  color: inherit;
}

#insta-quote {
  float: left;
  color: inherit;
}

#footer {
  text-align: center;
  font-size: 0.8em;
  color: #ffffffbd;
  background-color: inherit;
}