/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html {
  display: block;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* justify-content: center;
  align-items: center;
  min-width: 320px; */
  min-height: 100vh;
}

#quote-box {
  background-color: #fff;
  border-radius: 5px;
  width: 450px;
  display: table;
  padding: 40px 50px;
}

#container #quote-box #author {
  width: 450px;
  height: auto;
  text-align: right;
  font-size: 1em;
  padding-bottom: 20px;
  font-style: italic;
}

#container #quote-box #text {
  width: 450px;
  height: auto;
  text-align: center;
  font-size: 1.75em;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

.buttons {
  width: 450px;
  display: block;
  margin: auto;
}

#container #quote-box .buttons #new-quote {
  float: right;
  color: #fff;
}

#footer {
  width: 550px;
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: #ffffffbd;
}

.fa {
  color: #fff;
  width: 20px;
}

#tweet-quote {
  margin-right: 5px;
}
